/* Reset and Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial;
 
}

.alert-dark {
  background-color: black;
}

.btn-success {
  background-color: orange;
}

.logo-1 {
  width: 180px;
  height: auto;
}

.cart-icon {
  width: 30px;
  object-fit: cover;
  margin: 5px;
}

.cart-icon:hover {
 filter: brightness(0) saturate(100%) invert(46%) sepia(93%) saturate(2063%) hue-rotate(1deg) brightness(103%) contrast(105%);

}

.review-container {
  color: #000; 
  background-color: #f3f2f2;
}
.four-columns,
.review-container {
  margin: 60px;
}

.card-img-top {
  height: 225px;
  object-fit: cover;
  object-position: center;
}

.bi-star-fill {
  color: gold;
}

.rounded-circle {
  object-position: center;
  object-fit: cover;
}

.sign-bg {
  background-color: #fffff3;

}

/* Responsive Design */
/* Mobile Screen */

@media only screen and (max-width: 767px) {
  .carousel-caption {
    display: none;
  }

  .four-columns {
    margin: 15px;
  }
}

/* Tablet Screen */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}
